*{
  margin: 0;
  box-sizing: border-box;
}
footer{
  background: #495e57;
  margin-top: 7rem;
}
.navigator{
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.navigator .card-f{
  width: 230px;
  margin: 1rem 1rem 0 0;
  text-align: center;
}
.navigator .logo{
  background-color: #ffffff;
  border-radius: 50%;
}
.navigator ul li{
  list-style: none;
  text-align: center;
}
.navigator ul li a{
  text-decoration: none;
  color: #ffffff;
}

.navigator .contact{
  text-align: center;
}